;=====================================================
;
;   To learn more about how to configure Polybar
;   go to https://github.com/jaagr/polybar
;
;   The README contains alot of information
;
;=====================================================

[global/wm]
margin-top = 8
margin-bottom = 0
override-redirect = true

[bar/top]
monitor = eDP1
bottom = false
width = 100%
height = 30
offset-x = 0
offset-y = 0

locale = de_DE.UTF-8
background = #3a3c61
foreground = #678bdc

font-0 = lucy tewii:size=12:antialias=false;1
font-1 = FontAwesome:size=12:antialias=false;2
font-2 = MaterialIcons-Regular:size=12:antialias=false;3
font-3 = Misc Stlarch:size=12:antialias=false;4

modules-left = date1 volume battery cpu
modules-center = workspaces
modules-right = rofi network previous next powermenu

tray-position = false
tray-padding = 1
tray-transparent = false
tray-detached = false
tray-background = #3a3c61

overline-size = 2
overline-color = #bc92f8
underline-size = 2
underline-color = #bc92f8

radius = 2

spacing = 1
padding-left = 1
padding-right = 0
module-margin-left = 1
module-margin-right = 0

[module/volume]
type = internal/volume

format-volume = <ramp-volume><label-volume>
module-margin-right = 0

ramp-volume-0 =
ramp-volume-1 =
ramp-volume-2 =
ramp-volume-3 =

format-volume-foreground = #27E1F4
format-volume-background = #3a3c61

label-muted = 🔇muted

[module/xwindow]
type = internal/xwindow
label = %title:0:30:...%
module-margin-left = 2
format-padding = 2
format-background = #00eeeeee

[module/i3]
type = internal/i3
strip-wsnumbers = true
enable-click = false
index-sort = true
format = <label-state>

label-focused =   
label-focused-foreground = #678bdc
label-focused-background = #00eeeeee
label-focused-padding = 1

label-unfocused =   
label-unfocused-foreground = #678bdc
label-unfocused-background = #00eeeeee
label-unfocused-padding = 1

label-urgent =   
label-urgent-foreground = #678bdc
label-urgent-background = #00eeeeee
label-urgent-padding = 1

[module/date1]
type = internal/date
interval = 1
date = " %I:%M"
format-foreground = #ff6f9f
format-prefix = 


[module/date2]
type = internal/date
interval = 5
date = " %A %b %m"
;format-padding = 1
;format-background = #7aa04b
format-foreground = #F23F82
format-prefix =

[module/powermenu]
type = custom/menu

label-open =   
label-open-padding-left = 1
label-open-padding-right = 1
label-open-foreground = #3a3c61
label-open-background = #ed4781
label-close =
label-close-foreground = #F23F82
label-close-background = #3a3c61
label-separator =|
label-separator-foreground = #27E1F4
label-separator-background = #3a3c61

menu-0-0 =
menu-0-0-exec = menu-open-1
menu-0-1 =
menu-0-1-exec = menu-open-2
menu-0-2 =
menu-0-2-exec = menu-open-3
menu-0-3 =
menu-0-3-exec = menu-open-4

menu-1-0 =
menu-1-0-exec = menu-open-0
menu-1-1 =
menu-1-1-exec = rofi -modi colorscheme:rofi-colorscheme-switch  -show colorscheme:rofi-colorscheme-switch

menu-2-0 =
menu-2-0-exec = powermenu.sh
menu-2-1 =
menu-2-1-exec = menu-open-0

menu-3-0 =
menu-3-0-exec = rofi -modi drun,run,colorscheme:rofi-colorscheme-switch,keys,ssh,combi -show drun -sidebar-mode -font "NeuzeitGro-Reg 13 "
menu-3-1 =
menu-3-1-exec = menu-open-0

menu-4-0 =
menu-4-0-exec = polybar --config=/home/pringle/.config/polybar/polybar/herb/two.config top
menu-4-1 =
menu-4-1-exec = menu-open-0

; 
;           
;
;
;   
;
;
;      
;
;      
; 
;           
;
;
;

[module/rofi]
type = custom/script
exec = echo " rofi  "
click-left = /home/pringle/.config/polybar/polybar/wal/powermenu.sh
label-foreground = #F23F82
label-background = #27E1F4
format-padding = 1
label-prefix = 

[module/network]
type = custom/script
label-background = #3a3c61
label-foreground= #dcdfe4
exec = $HOME/.config/polybar/scripts/network.sh
click-left = networkmanager_dmenu
click-right = networkmanager_dmenu
label-padding = 1
interval = 1
tail = true

[module/hlws]
type = custom/script
exec = /home/nerdypepper/hlws

scroll-up = exec herbstclient use_index +1
scroll-down = exec herbstclient use_index -1
interval = 0.01

[module/cpu]
type = internal/cpu
label =  %percentage-core1%%
label-foreground = #ae81ff

[module/battery]
type = internal/battery
full-at = 99
battery = BAT1
adapter = ACAD
poll-interval = 5

format-charging = <animation-charging><label-charging>
format-discharging = <ramp-capacity><label-discharging>
label-charging = %percentage%%
label-charging-foreground = #6df3df
label-discharging = %percentage%%
label-discharging-foreground = #6df3df
label-full = Fully charged
ramp-capacity-foreground = #6df3df
ramp-capacity-0 =
ramp-capacity-1 =
ramp-capacity-2 =
ramp-capacity-3 =
ramp-capacity-4 =
bar-capacity-width = 10
animation-charging-0 = 
animation-charging-1 = 
animation-charging-2 = 
animation-charging-3 = 
animation-charging-4 = 
animation-charging-foreground = #6df3df
animation-charging-framerate = 750


[module/text2]
type = custom/script
format-text =<label>
label =
exec = echo label
format-foreground = #ff6f9f
format-background = #3a3c61

[module/nightmode]
type = custom/script
echo = ""

[module/music]
type = custom/script
interval = 0.01
exec = python3 /home/nerdypepper/praghaplayer.py
format-foreground = #27E1F4
format-background = #3a3c61
click-left = exec pragha -t
click-right = exec pragha -x
scroll-up = exec pragha -i
scroll-down = exec pragha -d

[module/previous]
type = custom/script
format-text = <label>
label = 
exec = echo label
click-left = exec pragha -r
format-foreground = #27E1F4
format-background = #3a3c61

[module/next]
type = custom/script
format-text = <label>
label = 
exec = echo label
click-left = exec pragha -n
format-foreground = #27E1F4
format-background = #3a3c61

[module/pauseplay]
type = custom/script
format-text =  <label>
label = 
exec = echo label
click-left = exec deadbeef --play-pause
format-foreground = #27E1F4
format-background = #3a3c61

[module/workspaces]
type = internal/xworkspaces
enable-click = true
enable-scroll = true
format-padding = 1
Additional formatting
icon-0 = 1;
icon-1 = 2;
icon-2 = 3;
icon-3 = 4;
icon-4 = 5;
icon-5 = 6;
icon-6 = 7;
icon-7 = 8;
icon-8 = 9;
icon-9 = 10;
;icon-default = 

;

format = <label-state>
label-monitor =  %name%


label-active = " %icon% %name% "
label-active-foreground = #F23F82
label-active-background = #27E1F4
;label-active-underline = #F5166A

label-occupied = " %icon% %name% "
label-occupied-underline = #EFC8AA
label-occupied-background = #3a3c61
label-occupied-foreground = #34C8BC

label-urgent = " %icon% %name% "
label-urgent-foreground = #ffffff
label-urgent-background = #3a3c61
label-urgent-underline = #34C8BC

label-empty = " %icon% %name% "
label-empty-foreground = #ffffff
